/* CSS style.css */

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
}

video {
    /* height: 100%; */
    width: 100%;
    z-index: -1;
    position: absolute;
}

#reactApp {
    position: relative;
}

.navPageTop {
    padding-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: transparent;
    color: white;
    font-size: 150%;
}

.navPageTopLogo {
    width: 10%;
    height: 10%;
    margin-right: 2.5%;
}

.navPageTopLabel {
    display: inline-block;
    margin: 0% 2.5% 0% 2.5%;
    text-align: right;
    transform: translateY(-50%);
}