@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.NavBar {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 6.5vh;
  font-size: 1.2em;
  background-color: #1d1f33;
}

.NavBar > a:first-child {
  margin-right: auto;
  padding-left: 2vw;
}

.NavBarLogo {
  height: 4.5vh;
  transition: height 0.5s;
}

.NavBarLogo:hover, .NavBarLogo:active {
  height: 5.5vh;
}

.NavBarText {
  padding: 0 2vw;
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.NavBarText:hover, .NavBarText:active {
  color: #ffba00
}
